@import "tailwindcss";

@keyframes focus {
  to {
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes passportEnter {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



.font-kingsguard {
  font-family: var(--font-kingsguard), cursive;
}
.font-rosaline {
  font-family: var(--font-rosaline);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F3EE;
    --foreground: #ededed;
  }
}
@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(5deg); }
  40%  { transform: rotate(-5deg); }
  60%  { transform: rotate(20deg); }
  80%  { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}
@keyframes floatDepth {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-10px) rotate(-5deg);
  }
  50% {
    transform: translateX(0) rotate(0deg);
  }
  75% {
    transform: translateX(10px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  
}




